<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Carpathian</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple Customer Feedback Web Application built on django 1.5 ">
    <meta name="author" content="Ishuah kariuki">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <script type="text/javascript"> 
    window.CP = {};
    </script>
    <script src="/static/js/jquery-2.0.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/backbone-min.js"></script>
    <script src="/static/js/models/Company.js"></script>
    <script src="/static/js/controllers/CompanyView.js"></script>
    <script src="/static/js/templates/CompanyTemplate.js"></script>
    <script src="/static/js/controllers/CompanyDashboardView.js"></script>
    <script src="/static/js/templates/CompanyDashboardTemplate.js"></script>
    <script src="/static/js/models/Feedback.js"></script>
    <script src="/static/js/controllers/FeedbackView.js"></script>
    <script src="/static/js/templates/FeedbackTemplate.js"></script>
  </head>

  <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80" style="margin-top: 0px;">
    <div class="container">
      <header class="page-header subhead" id="overview">
        <div class="row">
          <div class="span6">
            <h1><a href="/">Carpathian</a></h1>
            {% if page_title %}
            <p class="lead">{{ page_title }}</p>
            {%else %}
            <p class="lead">Simple Customer Feedback App</p>
            {% endif %}
            
          </div>
          {% block userpanel %}

          {% endblock %}
        </div>
    </header>
    {% block payload %}
    
    {% endblock %}
      <footer id="footer">
        <p class="pull-right"><a href="#top">Back to top</a></p>
      </footer>

    </div>

  </body>
</html>