{% extends "carpathian/base.html" %}

{% block userpanel %}
<div class="span4 offset2">
  <p class="pull-right">{{ user }} | <a href="/employee/logout/">logout</a></p>
</div>
{% endblock %}


{% block payload %}
<div class="row">
  <div class="span7">
    <table class="table table-striped" id="company-table">
  <tbody>
  </tbody>
</table>
  </div>
  <div class="span2 offset3">
    <button class="btn btn-success">Add a company</button>
  </div>
</div>


<script type="text/javascript">
  function addCompanies(){
          {% for company in companies %}
           var company =  CP.Company.create("{{company.id}}", "{{ company.name }}", "{{ company.tagline }}", "{{ company.description }}", "{{ company.logo.url }}");
          var companyView = new CP.CompanyDashboardView({ model:company });
          {% endfor %}
  }
  addCompanies();
</script>

{% endblock %}