{% extends "carpathian/base.html" %}

{% block payload %}
<div class="row">
<div class="span2">
      <ul class="nav nav-pills">
          <li><a href="/employee/dashboard">Back to dashboard</a></li>
      </ul>
    </div>
	<div class="span2">
 			<img src="{{ company.logo.url }}">
 			<h4>{{company.name}}</h4>
		 	<i>{{company.tagline}}</i>
		 	<p>{{company.description}}</p>
 	</div>
 	<div id="feedback-list" class="span6"></div>
</div>
	

<script type="text/javascript">
  function addFeedback(){
          {% for feedback_ in feedback %}
            var feedback_ =  CP.Feedback.create("{{ feedback_.customer_firstname }} "+"{{ feedback_.customer_lastname}}" , "{{ feedback_.comments | linebreaksbr | escape }}", "{{ feedback_.approved }}", "{{ feedback_.id }}");
          var feedbackView = new CP.FeedbackView({ model:feedback_ });
          {% endfor %}
  }
  addFeedback();
</script>

{% endblock %}