{% extends "carpathian/base.html" %}

{% block payload %}

	<div id="company-list" class="row"></div>

<script type="text/javascript">
  function addCompanies(){
          {% for company in companies %}
           var company =  CP.Company.create("{{company.id}}", "{{ company.name }}", "{{ company.tagline }}", "{{ company.description }}", "{{ company.logo.url }}");
          var companyView = new CP.CompanyView({ model:company });
          {% endfor %}
  }
  addCompanies();
</script>

{% endblock %}