{% extends "carpathian/base.html" %}

{% block payload %}

	<div class="row-fluid">
            <ul class="thumbnails">
            {% for company in companies %}
              <li class="span3">
                <div class="thumbnail">
                  <img src="{{ company.logo.url }}">
                  <div class="caption">
                    <h3>{{ company.name }}</h3>
                    <i>{{ company.tagline }}</i>
                    <p>{{ company.description }}</p>
                    <p><a href="/feedback/{{company.id}}/" class="btn btn-primary">Give feedback</a></p>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>

{% endblock %}